:root {
    --distanceFromTopList: 155px;
    --distanceFromTopDoc: 85px;
}

.ra-adminLayout {
    position: relative;
    z-index: 1;
}

.ra-adminLayout .ant-form-item-label {
    line-height: 28px;
}

.ra-adminLayout .ra-boxSelect .ant-form-item-label {
    margin-bottom: -19px
}

.ra-adminLayout h1,
.ra-adminLayout h2,
.ra-adminLayout h3 {
    color: black;
}

.ra-sideModal-full {
    background-color: transparent;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    bottom: 0;
}

.ra-topRightLoader {
    position: absolute;
    top: 15px;
    right: 15px;

}

.ra-tableWrapper .ant-table-body {
    /* height: calc(100vh - 290px) !important;
    max-height: calc(100vh - 290px) !important; */
    overflow: auto !important;
}

.ra-tableWrapper .ant-table-thead>tr,
.ra-tableWrapper .ant-table-tbody>tr {
    word-break: break-word;
    cursor: pointer;
}

.ra-tableWrapper .ant-table-body .ant-table-body {
    height: auto !important;
    max-height: auto !important;
    overflow: auto !important;
}

.ra-tableWrapper .ant-table-header {
    overflow: auto !important;
}

.ra-tableWrapper,
.ra-docWrapper {
    /* Container*/
    padding: 15px;
    background-color: #f1f3f6;

}

.ra-docWrapper .ra-tableWrapper {
    /* Container*/
    padding: 0px;
}

.ra-tableContent,
.ra-docContent {
    /* Content*/
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    padding: 15px;
    overflow: auto;
}

.ra-docContent {
    /* Content*/
    height: calc(100vh - var(--distanceFromTopDoc));
    max-height: calc(100vh - var(--distanceFromTopDoc));
}

.ra-tableContent {
    /* Content*/
    height: calc(100vh - var(--distanceFromTopList));
    max-height: calc(100vh - var(--distanceFromTopList));
    border-top: 0px;
    padding: 5px;
}

.ra-tableContent .ra-tableContent-table {
    /* height: calc(100% - 24px);
    max-height: calc(100% - 24px); */
    height: calc(100% - 30px);
    overflow: auto;
}

.ra-tableContent .ra-tableContent-table .ant-table-fixed-header>.ant-table-content>.ant-table-scroll>.ant-table-body {
    max-height: calc(100vh - var(--distanceFromTopList) - 124px) !important;
    min-height: calc(100vh - var(--distanceFromTopList) - 124px) !important;
}

.ra-tableContent .ra-tableContent-pagination {
    height: 30px;
    padding-top: 5px;
    text-align: right;
}

.noTableHeader .ra-tableContent {
    /* height: calc(100vh - 105px) !important;
    max-height: calc(100vh - 105px) !important; */
}

.ra-tableHeader {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-bottom: 0px;
    padding: 15px;

}

.ra-tableHeader-row {
    display: flex;
    justify-content: space-between;
}

.ra-docBody {
    display: flex;
    flex-direction: column;
    height: calc(100% - 58px);
}

.ra-docFields {
    flex: 1;
    max-height: 100%;
    overflow: auto;
    padding-right: 15px;
    margin-bottom: 15px;
}

.ra-docFields .ant-form-item:not(.flex-row) {
    max-width: 500px;
    display: block !important;
}

.ra-docFields .ant-form-item:not(.flex-row) .ant-calendar-picker {
    width: 245px;
}

.ra-docFooter {
    display: flex;
    justify-content: flex-end;
}

.ra-docHeader {
    display: flex;
    height: 55px;
    align-items: center;
}

.ra-docHeader-back {
    margin-right: 10px;
}

.ra-docHeader-title {
    padding-top: 10px;
    font-size: 19px;
}

.ra-fieldsArrayGroupNumber {
    display: flex !important;
    align-items: center;
    margin-bottom: 7px;
}

.ra-fieldsArrayGroupNumber .ant-input-group-addon {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    width: 39px;
    border-left: 1px solid #d9d9d9;
}

.ra-fieldsArrayObjectRow {
    border: 1px solid #d9d9d9;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
}

.ra-fieldsArrayRow {
    border: 1px solid #d9d9d9;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
}

.ra-fieldsArrayObjectRow_remove {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #e8e8e8;
    padding: 6px;
    box-shadow: 1px -1px #dadada;
}

.ra-translatesMessage {
    position: absolute;
    top: 7px;
    right: 50px;
}

.ra-marginRight5 {
    margin-right: 5px;
}

.ra-marginLeft5 {
    margin-left: 5px;
}

.ra-translates {
    position: relative;
}

.ra-translates .addBtn {
    position: absolute;
    right: 0;
    z-index: 200;
    color: black;
    border: none;
    box-shadow: initial;
    background: transparent;
}

.padding5 {
    padding: 5px;
}

.ra-mr15 {
    margin-right: 15px;
}

.ra-filtersOptionsWrapper {
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
}

.ra-filters {
    width: 100%;
}

.ra-filters-toggle {
    margin-right: 10px;
}

.ra-filters-toggle.hidden {
    visibility: hidden;
}

.ra-filtersOptions {
    width: 100%;
    max-width: 750px;
    padding: 5px;
}

.ra-filtersOptionsRow {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-right: 15px;
}

.ra-simpleSearchBtn {
    color: black;
    border: none;
    opacity: 0.7;
}

.ra-simpleSearchBtn:hover {
    opacity: 1;
}

.ra-filtersOptionsTitle {
    margin: 15px 0px;
    color: #2d3446;
    text-decoration: underline;
}

.ra-filtersOptionsFooter {
    width: 100%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
}

.ra-removeFilterRow {
    color: black;
    font-size: 6px;
}


.ra-text-line-through {
    text-decoration: line-through
}

.ra-hideSelectBorder .ant-select-selection {
    border: 0px;
}

.ra-table-action-btns {
    width: 100%;
    display: flex;
    text-align: right;
}

.ra-columnsFilters {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.ra-columnsFilters .ra-columnsFiltersList {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.ra-columnsFilters .ra-columnsFiltersList .ant-checkbox-wrapper+.ant-checkbox-wrapper {
    margin-left: 0px;
}

#ra-columnsFilters-btn {
    height: 50px;
    font-size: 15px;
    margin-right: 5px;
}

.ant-table-wrapper.overFlowScroll {
    overflow: auto;
    max-height: 100%;
}

.ra-printObject-item {
    display: block;
}

.ra-printObject-item-wrapper {
    margin-bottom: 5px;
    display: table;
}

.ra-fieldsGroup {
    border: 1px solid #e5e5e5;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.ra-submitBtn-notValid {
    opacity: 0.3;
}

.ra-dropZone {
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;
    padding: 15px;
    position: relative;
}

.ra-dropZone__file {
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    cursor: pointer;
}

.ra-dropZone__clear-url {
    position: absolute;
    margin-top: 12px;
    cursor: pointer;
    right: 25px;
}

.ra-dropZone__clear-file {
    cursor: pointer;
    margin-left: 15px;
}

.ra-dropZone input {
    padding-right: 35px;
}

.ra-linkStyle {
    color: blue !important;
    border-bottom: 1px solid blue;
}

/* doc fields style*/
.ra-docContent .ant-form-item .ant-switch {
    width: 44px;
    height: 22px
}

.ra-docContent .ant-select {
    width: 100% !important
}

.ra-docContent .ant-switch::after {
    width: 18px;
    height: 18px;
}

.ra-ml5 {
    margin-left: 5px;
}

.ra-list-text-ellipsis,
.ra-list-tr-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50px;
    white-space: nowrap;
}

.ra-helpText-underField {
    font-size: 12px;

}

.ra-checkboxWithIconRow {
    display: flex;
    flex-flow: wrap;
    margin-right: -10px;
}


.ra-checkboxWithIcon {
    width: 105px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.ra-checkboxWithIcon:hover {
    border: 1px solid #a5a5a5;
}

.ra-checkboxWithIcon .ant-checkbox,
.ra-checkboxWithIcon .ant-radio {
    position: absolute;
    right: 5px;
    top: 5px;
}

.ra-checkboxWithIcon label {
    position: initial !important;
    pointer-events: none;
}

.ra-checkboxWithIcon label .ra-checkboxWithIconContent {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}

.ra-checkboxWithIcon label .ra-checkboxWithIconContent .anticon {
    font-size: 35px;
    margin-bottom: 5px;
}

.ra-tableContent-table .ant-tag {
    max-width: 200px;
    overflow: auto;
    display: inline-table;
    margin: 3px;
}

.ra-max100 {
    max-height: 100px;
    overflow: auto;
}

.ra-listTags {
    display: flex;
    flex-wrap: wrap;
}

.ra-adminLayout .ant-table-thead>tr>th .ant-table-header-column {
    margin-bottom: 15px;
}

.dir-rtl.ra-adminLayout .ant-pagination-prev {
    transform: rotate(180deg);
}

.dir-rtl.ra-adminLayout .ant-pagination-next {
    transform: rotate(180deg);
}

.dir-rtl.ra-adminLayout .ant-btn-group {
    display: flex;
    flex-direction: row-reverse
}

.dir-rtl.ra-adminLayout .ant-dropdown-menu {
    text-align: right;
}

.dir-rtl.ra-adminLayout .ant-dropdown-menu-item>.anticon:first-child,
.ant-dropdown-menu-submenu-title>.anticon:first-child {
    margin-left: 8px;
    margin-right: initial;
}

.dir-rtl.ra-adminLayout .ant-select-dropdown-menu {
    padding-right: initial;
    padding-left: 40px;
}

.dir-rtl.ra-adminLayout form .has-feedback>.ant-select .ant-select-arrow,
form .has-feedback>.ant-select .ant-select-selection__clear,
form .has-feedback :not(.ant-input-group-addon)>.ant-select .ant-select-arrow,
form .has-feedback :not(.ant-input-group-addon)>.ant-select .ant-select-selection__clear {
    left: 26px;
    right: inherit;
}

.dir-rtl.ra-adminLayout .ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
    text-align: right;
}

.dir-rtl.ra-adminLayout .ra-docHeader-back .anticon-left {
    transform: rotate(180deg);
}

.dir-rtl.ra-adminLayout .ra-tableHeader-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nextjs-app-body .ra-refModal {
    top: 85px !important;
}

.nextjs-app-body .ra-docHeader {
    background: #798dfe;
    margin: -15px -15px 15px -15px;
}

.nextjs-app-body .ra-docHeader .ra-docHeader-title {
    color: white;
    padding-top: 0px;
}

.nextjs-app-body .ra-tableWrapper .ant-table-body {
    overflow: visible !important;
}

.nextjs-app-body .ant-table-thead>tr>th {
    font-weight: 800;
}

.nextjs-app-body .ra-docHeader-back {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: transparent;
}

.ra-breadcrumb {
    font-weight: 800;
}


/*rtl:end:ignore*/

/*rtl:raw:

#nextjs-app-rtl .sideBarArrowBackBtn {
    transform: rotate(180deg);
}

#nextjs-app-rtl .ant-dropdown {
    z-index: 2000;
}

#nextjs-app-rtl .ra-docHeader-title {
    padding-top: 0px !important;
}

#nextjs-app-rtl .ra-table-action-btns {
    margin-left: 55px;
}

#nextjs-app-rtl .ant-select-selection--single .ant-select-selection__rendered {
    margin-right: 11px;
}

#nextjs-app-rtl .ra-breadcrumb {
    margin-right: 0px !important;
    padding-top: 22px;
}

.ant-dropdown-menu {
    text-align: right;
}

.ant-dropdown-menu-item > .anticon:first-child, .ant-dropdown-menu-submenu-title > .anticon:first-child {
        margin-right: 0px;
    margin-left: 8px;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 16px 16px;
    text-align: right;
}
.ra-breadcrumb {
    margin-right: 65px !important;
    margin-left: inherit;
    display: flex;
    flex-direction: row;
}
.ant-select-dropdown-menu {
    padding-right: 0px;
    padding-left: 0px;
}
.ra-filters {
    text-align: left;
}
.ra-filtersOptionsTitle {
    text-align: right;
}
.ra-filtersOptionsAddRow {
    margin-right: 5px;
}
.ra-filtersOptionsFooter {
    justify-content: flex-end;
}

.ra-filtersOptionsRow {
    padding-right: 0;
}
.ant-modal-confirm .ant-modal-confirm-btns button + button {
    float: left;
    margin-right: 8px;
    margin-left: 8px;
}
.ant-modal-confirm-body > .anticon {
    float: right;
    margin-right: 0px;
    font-size: 22px;
    margin-left: 16px;
}
.ant-modal-confirm .ant-modal-confirm-btns {
    float: left;
    margin-top: 24px;
}
.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
    margin-left: 0;
    margin-right: 38px;
}
form .has-feedback > .ant-select .ant-select-selection-selected-value, form .has-feedback :not(.ant-input-group-addon) > .ant-select .ant-select-selection-selected-value {
    padding-left: 42px;
    padding-right: 0px;
}
.ant-select-selection-selected-value {
    float: right;
    padding-right: 0px;
    padding-left: 0px;
}
form .has-feedback .ant-calendar-picker-icon, form .has-feedback .ant-time-picker-icon, form .has-feedback .ant-calendar-picker-clear, form .has-feedback .ant-time-picker-clear {
    left: 28px;
    right: inherit;
}
.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.ant-tag .anticon-close {
    margin-right: 3px;
    margin-left: initial;
}
.ra-refModal__input .ra-refModal__input__plus {
    left: 15px;
    right: auto;
}
.ra-refModal__input .ant-tag {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.ra-refModal .ant-modal-footer > div {
    flex-direction: row-reverse;
}
.ra-fieldsArrayObjectRow_remove {
   margin-right: calc(100% - 26px);
   right: initial;
}
.ant-form-item-required:before {
    margin-left: 4px !important;
    margin-right: initial !important;
}
.has-error.has-feedback .ant-form-item-children-icon, .has-success.has-feedback .ant-form-item-children-icon, .has-warning.has-feedback .ant-form-item-children-icon, .is-validating.has-feedback .ant-form-item-children-icon {
    right: inherit !important;;
    left: 0 !important;;
}
.ant-select-allow-clear .ant-select-selection--single .ant-select-selection-selected-value{
    padding-left: 16px;
    padding-right: 0;
  }
  .ant-select-selection__clear{
    left: 11px;
    right: auto;
  }
  .ant-select-arrow{
    left: 11px;
    right: auto;
  }
  .ant-calendar-picker-clear, .ant-calendar-picker-icon{
    left: 12px;
    right: auto;
  }
  .ant-calendar-picker-clear, .ant-calendar-picker-icon{
    left: 12px;
    right: auto;
  }
*/